@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #BDC5F2;
}


/* #2745F2, #415CF2, #6B7FF2, #BDC5F2, #F2F2F2 */
